@model IEnumerable<Personal_Diary.Models.Dairy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <form action="@Url.Action("view_search", "Diaries")" method="post">

        <!-- Date input field -->
        <input type="date" name="Date_name" value="Date1" id="Date2" />

        <!-- Submit button -->
        <button type="submit">Search</button>
    </form>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dairy_Entry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dairy_Entry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
